<center>
  <h1>Welcome to Presently!</h1>
    <h2>Presently is the go-to place to let your friends know what gifts you want NOW. With Presently, you can:</h2>
    <p>
      Create gift category preferences<br>
      Let others choose from a list of gift suggestions based on those preferences<br>
      Look at your friends' gift suggestions based on their preferences<br>
    </p>
      <br>
      <br>
  <h2>Try Presently Now!</h2>
    <h3><%= link_to "Create an Account", 'signup' %></h3>
    <br>
    <br>
  <h2>Already use Presently?</h2>
    <h3><%= link_to "Login", 'login' %></h3>

</center>
