
<center>
  <h1>Welcome to Presently!</h1>
<h2>Presently is the go-to place to organize your events gift swaps with ease. With Presently, you can:</h2>
<p>
  Create an event and invite guests<br>
  Generate gift exchnage pairings based on the event's attendees<br>
  Receive gift suggestions based on your giftee's preferences<br>
</p>
<br>
<br>
<h2>Try Presently Now!</h2>
<h3><%= link_to "Create an Account", 'signup' %></h3>
<br><br>
<h2>Already use Presently?</h2>
<h3><%= link_to "Login", 'login' %></h3>

</center>
