<div class="w3-container w3-display-center w3-margin">

    <div class="w3-container w3-padding-48">
      <h1><strong>Categories</strong><h1>
    </div>

    <div class="w3-container">
          <% @categories.each do |category| %>
              <%= link_to category.name, category_path(category) %><br>
          <% end %>
    </div>

    <div class="w3-container w3-padding-64">
      <!-- placeholder to add whitespace before footer -->
    </div>


</div>
