<!DOCTYPE html>
<html lang="en">
  <head>

       <meta charset="utf-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1">

       <title>Presently - Sharing the Gifts You Want Right Now</title>

       <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
       <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

       <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
       <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
       <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <!-- Optional Bootstrap theme -->
     <!-- <link rel="stylesheet" href="app/assets/stylesheets/bootstrapstyles.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> -->
  </head>

      <body>

      <!-- Navbar (sit on top) -->
          <div class="w3-top">
            <div class="w3-bar w3-white w3-card" id="myNavbar">
              <a href="/" class="w3-bar-item w3-button w3-wide">PRESENTLY</a>
              <!-- Right-sided navbar links -->
              <div class="w3-right w3-hide-small">
                <% if !!session[:user_id] %>
                    <a href="/users/<%= session[:user_id] %>" class="w3-bar-item w3-button">PROFILE</a>
                    <a href="/categories" class="w3-bar-item w3-button">CATEGORIES</a>
                    <a href="/products" class="w3-bar-item w3-button">PRODUCTS</a>
                    <a href="/logout" class="w3-bar-item w3-button">LOGOUT</a>
                <% else %>
                    <a href="/login" class="w3-bar-item w3-button">LOGIN</a>
                    <a href="users/new" class="w3-bar-item w3-button">CREATE AN ACCOUNT</a>
                <% end %>
              </div>
            </div>
          </div>

            <%= yield %>

      <!-- Footer -->
      <!-- <div class="w3-bottom"> -->
        <footer class="w3-center w3-black w3-padding-24">
            <p>Presently is a project made by Brian Boisvert, Elisa Vaccaro, and Winter LaMon for <a href="https://flatironschool.com/" title="W3.CSS" target="_blank" class="w3-hover-text-green">Flatiron School</a>.</p>
        </footer>
      </div>
    </div>


  </body>
</html>
